.global-info-panel {
  width : 100%;
  height: 100%;

  &>.global-info-title {
    height         : 60px;
    padding-left   : 31px;
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: flex-start;
    color          : #2D405E;
    font-size      : 18px;
    border-bottom  : 1px solid #D6DDE3;
  }

  &>.global-info-category {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    border-bottom  : 1px solid #D6DDE3;

    &>div {
      display        : flex;
      flex-direction : column;
      justify-content: center;
      align-items    : center;
    }

    &>div>div:first-child {
      width          : 60px;
      height         : 60px;
      display        : flex;
      justify-content: center;
      align-items    : center;
      color          : #FFFFFF;
      font-size      : 20px;
      border-radius  : 50%;
      margin         : 13px 0;
    }

    &>div:nth-child(1)>div:first-child {
      background-color: #FF9497;
      border          : 6px solid #FFD7D8;
    }

    &>div:nth-child(2)>div:first-child {
      background-color: #A4B9FF;
      border          : 6px solid #E0E7FF;
    }

    &>div:nth-child(3)>div:first-child {
      background-color: #AEDD79;
      border          : 6px solid #E2F2D0;
    }

    &>div:nth-child(4)>div:first-child {
      background-color: #FFA87B;
      border          : 6px solid #FFDCC9;
    }

    &>div:nth-child(5)>div:first-child {
      background-color: #FF7BBF;
      border          : 6px solid #FFD3EA;
    }

    &>div>div:last-child {
      color        : #101010;
      margin-bottom: 14px;
    }
  }

  &>.global-info-message {
    display       : flex;
    flex-direction: column;
    max-height    : 183px;
    min-height    : 180px;
    overflow-y    : auto;

    &.empty {
      justify-content: center;
      align-items    : center;
    }

    &>.global-info-message-empty {
      font-size: 22px;
    }

    &>div {
      padding        : 13px 30px 10px 30px;
      display        : flex;
      justify-content: space-between;
      border-bottom  : 1px dashed #D6DDE3;
    }

    &>div:last-child {
      border-bottom: none;
    }
  }
}

.todo-supervise-notification {
  background-color: rgba(198, 49, 36, 0.8);
  padding         : 8px 5px;

  .ant-notification-notice-message {
    font-size: 16px;
    color    : #FFFFFF;
  }

  .ant-notification-notice-description {
    font-size: 14px;
    color    : rgba(255, 255, 255, 0.5);
  }

  .ant-notification-close-icon {
    color: #1C0300;
  }

}

.supervise-alert-modal {

  .ant-modal-body {
    padding       : 0px;
    display       : flex;
    flex-direction: column;
    align-items   : center;
  }

  .supervise-alert-modal-footer {
    height         : 50px;
    display        : flex;
    align-items    : flex-start;
    width          : 701px;
    justify-content: flex-end;
  }

  .supervise-alert-modal-title {
    display         : flex;
    color           : #FFFFFF;
    background-color: #C63124;
    width           : 100%;
    height          : 47px;
    align-items     : center;
    margin-bottom   : 43px;

    &>div:first-child {
      width          : 114px;
      display        : flex;
      justify-content: center;
      align-items    : center;
    }
  }

  .supervise-alert-modal-title-icon {
    width           : 84px;
    height          : 84px;
    border          : 9px solid rgb(193, 61, 49);
    color           : rgb(193, 61, 49);
    display         : flex;
    justify-content : center;
    align-items     : center;
    border-radius   : 60px;
    font-size       : 51px;
    font-weight     : bold;
    padding-left    : 26px;
    background-color: #ffffff;
    box-shadow      : 2px 2px 6px rgba(0, 0, 0, 0.45);
  }

  .supervise-alert-modal-content {
    width        : 701px;
    margin-bottom: 26px;

    &>div:first-child {
      margin   : 14px 0 10px 0;
      color    : #1E1E1E;
      font-size: 16px;
    }

    &>div:last-child {
      background-color: #FFF2F0;
      padding-left    : 17px;
      padding-right   : 17px;

      &>div {
        padding: 14px 0 7px 0;

        &>span>em {
          color: rgb(193, 61, 49)
        }
      }
    }
  }

  .supervise-alert-modal-exception {
    width           : 701px;
    height          : 74px;
    background-color: #FFEBE9;
    border          : #C63124 solid 1px;
    display         : flex;
    align-items     : center;

    &>div:first-child {
      width     : 100px;
      text-align: center;
      font-size : 40px;
      color     : #DD5549;
    }

    &>div:last-child {
      flex       : 1;
      color      : #FF3A14;
      font-size  : 20px;
      font-weight: bold;
    }
  }

  .ant-modal-content {
    border: 3px solid #DD5549;
  }
}