.card-container-application > .ant-tabs-card > .ant-tabs-content {
  padding: 10px 20px;
}

.card-container-application
  > .ant-tabs-card
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  background: #fff;
}

.card-container-application > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container-application > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  color: #000000;
  background: transparent;
}

.card-container-application
  > .ant-tabs-card
  > .ant-tabs-bar
  .ant-tabs-tab-active {
  border-color: #fff;
  background: #ffffff;
  padding: 0 50px;
  border-top: 2px solid #104ec1;
}

.card-container-application > .ant-tabs.ant-tabs-card .ant-tabs-nav-container {
  background-color: #f4f5f7;
}

.card-container-application > .ant-tabs-tab {
  font-size: 16px;
}
